{% extends "layout.html" %}
{% block tog %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
{% endblock tog %}
{% block content %}
<div>
    <!-- dashboard url -->
    <h1 class="iframe1" style="margin-left: 10%;" >Dashboard of Year 2018-19</h1>
    <center><iframe width="1250" height="600" class="iframe1" src="https://app.powerbi.com/reportEmbed?reportId=72ff4d13-4b5b-4303-bab9-4cbd919f9e45&autoAuth=true&ctid=8c78c122-f781-4500-9c2a-f645a76281f5&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWluZGlhLXdlc3QtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe></center>
</div>
{% endblock content %}